/* Import Tailwind's base styles from ui-styling package. Optional if you don't want to use them.**/
@import '../../node_modules/@sanger/ui-styling/tailwind.css';

@theme {
  --default-ring-width: 3px;
  --default-ring-color: var(--color-blue-500);
}
.hover\:bg-green-600 {
  &:hover {
    background-color: oklch(72.3% 0.219 149.579);
  }
}

.grid-cols-12 {
  @apply grid-cols-12;
}

.grid-cols-location-2 {
  @apply grid-cols-location-2;
}

.grid-cols-location-3 {
  @apply grid-cols-location-3;
}

.grid-cols-location-4 {
  @apply grid-cols-location-4;
}

.grid-cols-location-5 {
  @apply grid-cols-location-5;
}

.grid-cols-location-5 {
  @apply grid-cols-location-5;
}

.grid-cols-location-6 {
  @apply grid-cols-location-6;
}

.grid-cols-location-7 {
  @apply grid-cols-location-7;
}

.grid-cols-location-8 {
  @apply grid-cols-location-8;
}

.grid-cols-location-9 {
  @apply grid-cols-location-9;
}

.grid-cols-location-10 {
  @apply grid-cols-location-10;
}

.grid-cols-location-11 {
  @apply grid-cols-location-11;
}

.grid-cols-location-12 {
  @apply grid-cols-location-12;
}

.bg-red-500 {
  background-color: oklch(68.82% 0.1776 22.95);
}
.bg-red-200 {
  background-color: oklch(91.2% 0.0437 17.98);
}
.bg-pink-500 {
  background-color: oklch(69.23% 0.1817 352.86);
}
.bg-pink-200 {
  background-color: oklch(91.51% 0.0456 359.18);
}
.bg-indigo-500 {
  background-color: oklch(62.71% 0.1638 271.53);
}
.bg-indigo-200 {
  background-color: oklch(88.3% 0.0557 259.3);
}
.bg-green-600 {
  background-color: oklch(72.3% 0.219 149.579);
}
.bg-green-500 {
  background-color: oklch(70.96% 0.1434 154.53);
}
.bg-green-200 {
  background-color: oklch(93.08% 0.0664 154.9);
}
.bg-purple-500 {
  background-color: oklch(66.37% 0.1634 296.96);
}
.bg-purple-200 {
  background-color: oklch(90.73% 0.053 306.09);
}
.bg-blue-500 {
  background-color: oklch(66.26% 0.1358 246.81);
}
.bg-purple-200 {
  background-color: oklch(89.6% 0.0484 232.92);
}

/* prod theme colors */
.border-sdb-100 {
  @apply border-sdb-100;
}

.bg-sdb-400 {
  @apply bg-sdb-400;
}

.from-sdb {
  @apply from-sdb;
}

.to-sdb-400 {
  @apply to-sdb-400;
}

/* uat theme colors */
.border-green-600 {
  @apply border-green-600;
}

.bg-green-800 {
  @apply bg-green-800;
}

.from-green-800 {
  @apply from-green-800;
}

.to-green-700 {
  @apply to-green-700;
}
.size-16 {
  width: 4rem !important;
  height: 4rem !important;
}
.size-17 {
  width: 4.25rem !important;
  height: 4.25rem !important;
}
.size-18 {
  width: 4.5rem !important;
  height: 4.5rem !important;
}
.size-19 {
  width: 4.75rem !important;
  height: 4.75rem !important;
}
.size-20 {
  width: 5rem !important;
  height: 5rem !important;
}
.size-21 {
  width: 5.25rem !important;
  height: 5.25rem !important;
}
