# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test

on:
  push:
    branches: [devel]
  pull_request:
    branches: [devel]

jobs:
  cypress:
    name: Run cypress tests
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip tests]')"
    container:
      image: cypress/browsers:node18.12.0-chrome106-ff106

      options: --user 1001
    steps:
      - uses: actions/checkout@v4
        name: Checkout
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
      - name: Install dependencies
        run:  yarn install
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install-command: yarn --frozen-lockfile --silent
          build: yarn build
          start: npx serve -s build -p 3000
          wait-on: "http://localhost:3000"
          config: baseUrl=http://localhost:3000
          browser: chrome
      # store any screenshots of the failing tests as artifacts
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          overwrite: true
          name: cypress-screenshots
          path: cypress/screenshots

  jest:
    name: Run unit tests
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip tests]')"
    steps:
    - uses: actions/checkout@v4
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
    - name: Install dependencies
      run: yarn install
    - name: Run jest tests
      run: yarn test:unit

  prettier:
    name: Check format with prettier
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
    - name: Install dependencies
      run: yarn install
    - name: Run prettier
      run: yarn prettier --check .
    
  eslint:
    name: Lint with ESLint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
    - name: Install dependencies
      run:  yarn install
    - name: Lint using ESLint
      run: yarn lint
